
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
     <title>Femina Well</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'stylesheets/nav.css') }}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename = 'stylesheets/article_block.css') }}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename = 'stylesheets/footer.css') }}" media="screen">
     <link rel="icon" type="image/ico" href="{{url_for('static', filename = 'images/favicon.ico') }}">
</head>
<header>
			<div class="wrapper">
				<div class="logo">
					<a href="/home"><img src="{{url_for('static', filename = 'images/img1.png') }}" alt="Joe Care"></a>
				</div>
				<div class="navbar">
					<div class="close-nav"><button>×</button></div>
					<nav>
						<ul>
							<li><a href="/home">Home</a></li>
							<li><a href="#articles">Articles</a></li>
							<li><a href="/community">Femina Community</a></li>
							<li><a href="/pcos_prediction">Have PCOS?</a></li>
							<li><a href="/expert">Femina Experts</a></li>
							<li><a href="#foot">Contact</a></li>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>
				</div>
				<div class="menu-bar">
					<button><i></i></button>
				</div>
			</div>
		</header>
	<script>
			const theBody = document.querySelector('body');
			const openNav = document.querySelector('.menu-bar button');
			const closeNav = document.querySelector('.close-nav button');
			const Navbar = document.querySelector('.navbar');
	
			// function bodyScroll(){
			//     if(Navbar.classList.contains('show')){
			//         theBody.classList.add('hide-scroll');
			//     }
			//     else if(theBody.classList.contains('hide-scroll')){
			//         theBody.classList.remove('hide-scroll');
			//     }
			// }
	
			function showHide(){
				Navbar.classList.toggle('show');
				// bodyScroll();
			}
	
			openNav.onclick = showHide;
			closeNav.onclick = showHide;
		</script>

<style>
.responsive {
  max-width: 100%;
  height: auto;
}
</style>
<img src="{{url_for('static', filename = 'images/cover_image.png') }}" alt="Femina Well" class="responsive">
<br><br><br><br>
<nav class="shelf" id="articles">
  <a class="book home-page" href="/mental_health">Mental health</a>
  <a class="book about-us" href="/lifestyle">Lifestyle</a>
  <a class="book contact" href="/sex_ed">Sex Ed Guide</a>
  <a class="book faq" href="/period">Period</a>
  <a class="book not-found" href="/pregnancy">Pregnancy</a>
 
  <span class="door left"></span>
  <span class="door right"></span>
</nav>

<br><br><br><br>
<footer id="foot">
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
        <h2 class="ft-title" style="color: #42a5f5;">Contact</h2>
        <ul>
          <li><a href="https://www.linkedin.com/in/k-naga-himaja/" style="color: black">Himaja</a></li>
            <li><a href="https://www.linkedin.com/in/vasavi-siri-chandana-47a695238/" style="color: black">Siri Chandana</a></li>
          <li><a href="https://twitter.com/KNagaHimaja" style="color: black">Twitter</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title" style="color: #42a5f5;">Resources</h2>
        <ul>
          <li><a href="/" style="color: black">Home</a></li>
          <li><a href="/query" style="color: black">Queries</a></li>
          <li><a href="/expert" style="color: black">Expert Advice</a></li>
          <li><a href="#foot" style="color: black">Contact</a></li>
        </ul>
      </div>
    <div class="ft-main-item">
      <h2 class="ft-title" style="color: #42a5f5;">About us</h2>
      <ul style="color: black"> 
        <p style="text-align: justify;">Team CSE-B5 is a group of G Pulla Reddy Engineering College students.</p>
        <p style="text-align: justify;">Femina Well is designed to help women of all ages understand their bodies better.</p>
        <p style="text-align: justify;">Our dear virtual friend, Femina Bot, is here in case you need any help. </p>
        <p style="text-align: justify;">	We hope you have an educative tour on our page. Happy Learning!</p>
      </ul>
    </div>
    
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
    </ul>
  </section>
</footer>

</html>
